---
interface Props {
	año: number
}

const {año} = Astro.props

function obtenerSufijo(año) {
	if (año === 1) return "ro"
	if (año === 2) return "do"
	if (año === 3) return "ro"
	return "to" // Para 4 o más
}

const sufijo = obtenerSufijo(año)
---

<section
	id=`${año}`
	class="flex flex-col gap-2.5 items-center justify-center self-stretch shrink-0 relative w-full overflow-hidden">
	<!-- encabezado año -->
		<h3 class="text-headline-medium text-on-background text-center w-full">
			{año}<span>{sufijo}</span> Año
		</h3>
	<div class="grid grid-cols-1 md:grid-cols-2 w-full gap-4">
		<!-- Contenido del slot -->
		<slot />
	</div>
</section>
101 Algoritmos y Estructuras de Datos I Cuatrimestral 8 128
102 Algebra Cuatrimestral 8 128
103 Algoritmos y Estructuras de Datos II Cuatrimestral 8 128 101 101
104 Lógica y Matemática Computacional Cuatrimestral 8 128 102
105 Sistemas y Organizaciones Cuatrimestral 6 96

201 Paradigmas y Lenguajes Cuatrimestral 8 128 103 101 103
202 Arquitectura y Organización de Computadoras Cuatrimestral 8 128 104 101 104
203 Cálculo Diferencial e Integral Cuatrimestral 8 128 104 102 102,104
204 Programación Orientada a Objetos Cuatrimestral 8 128 201 103 103,201
205 Sistemas Operativos Cuatrimestral 8 128 202 103 103,202
206 Administración y Gestión de Organizaciones Cuatrimestral 6 96 105 105

301 Taller de Programación I Cuatrimestral 8 128 204 201 204
302 Comunicaciones de Datos Cuatrimestral 8 128 205 202 205
303 Ingeniería de Software I Cuatrimestral 8 128 204,206 105 204,206
304 Taller de Programación II Cuatrimestral 8 128 301, 303 204, 205 301, 303
305 Probabilidad y Estadística Cuatrimestral 8 128 203 203
306 Bases de Datos I Cuatrimestral 8 128 204 202 303
307 Inglés Técnico Informático (extracurricular)

401 Ingeniería de Software II Cuatrimestral 8 128 303 206 303
402 Economía Aplicada Cuatrimestral 8 128 303 206 303
403 Teoría de la Computación Cuatrimestral 6 96 305 202 202, 305
404 Redes de Datos Cuatrimestral 8 128 302 302
405 Bases de Datos II Cuatrimestral 8 128 306 303 306
406 Métodos Computacionales Cuatrimestral 8 128 305 203 305

501 Proyecto Final de Carrera Anual 6 6 192 404,405 401 501 Todas las materias del plan
502 Auditoria y Seguridad Informática Cuatrimestral 6 96 404,405 401 404,405
503 Optativa I Cuatrimestral 6 96 403 305 403
504 Optativa II Cuatrimestral 6 96 404 302 404
505 Optativa III 