---
import {IconSchool} from "@tabler/icons-react";
---

<a
    href="/"
    class="bg-primary-container text-on-primary-container rounded-lg p-2.5 flex flex-row gap-2.5 items-center justify-center self-stretch shrink-0 relative overflow-hidden w-min h-min">
    <IconSchool size={24} />
    <div
        class="text-center font-['Poppins-Bold',_sans-serif] text-sm font-bold relative flex items-center justify-center"
        style="letter-spacing: -0.25px">
        CursaPlan
	</div>
</a>