---
interface Props {
    condicion: 'A' | 'R',
    materia: string,
}

const {condicion, materia} = Astro.props
---

<div
	class="bg-secondary-fixed-dim rounded-xl flex flex-row gap-2.5 items-center justify-start self-stretch shrink-0 relative overflow-hidden">
	<div
		class="bg-surface-tint p-1.5 flex flex-col gap-2.5 items-center justify-center self-stretch shrink-0 w-9 relative overflow-hidden">
		<p class="text-on-primary text-center text-title-medium relative flex items-center justify-center">
            {condicion}
        </p>
	</div>

	<div class="flex flex-row gap-2.5 items-center justify-start flex-1 relative">
		<p class="text-on-secondary-fixed-variant text-center text-title-small relative flex items-center justify-center">
			{materia}
		</p>
	</div>
</div>
